<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastro de usuário</title>
</h:head>

<h:body style="background-image:none; background-color: #F0F8FF;">
	<p:messages id="messages" showDetail="true" />
	<h:form id="frmclientes" style="margin: 0 auto; width: 20%; margin-top: 10%">
		<div id="panel_cadastro">
			<div>
				<h2>Informações do usuário</h2>
				<div>
					<p:outputLabel id="lb_nome" value="Nome:" for="nome" />
					<div>
						<p:inputText id="nome" value="#{usuarioBean.usuario.nome}" required="true" />
					</div>
				</div>
				<div style="margin: 0 auto; margin-top: 5%">
					<p:outputLabel id="lb_login" value="Login:" for="login" />
					<div>
						<p:inputText  id="login" value="#{usuarioBean.usuario.login}" required="true"/>
					</div>
				</div>
				<div style="margin: 0 auto; margin-top: 5%">
					<p:outputLabel id="lb_senha" value="Senha:" for="senha" />
					<div>
						<p:password id="senha" value="#{usuarioBean.usuario.senha}" required="true" />
					</div>
				</div>
				<div style="margin: 0 auto; margin-top: 5%" >
					<p:commandButton id="btnsalvar" value="Salvar" action="#{usuarioBean.adicionarUsuario()}" update="@form :messages" style="margin-left: 70px" />
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>