<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" 
	template="/template.xhtml">
	
	<ui:define name="centro">
		<div align="right">
			<p:commandButton value="Registrar Peso" action="dieta.xhtml?faces-redirect=true"/>
		</div>
		<div align="left" style="margin-left:25px; margin-bottom: 10px">
			<h3>Olá, #{loginBean.usuarioLogado.nome}.</h3>
		</div>
		<p:chart type="line" model="#{dashboardBean.grafico}" style="height:300px;"/>
		<div align="left" style="margin-left:25px; margin-top: 20px">
			<h3>#{loginBean.usuarioLogado.nome}, você está indo bem. Continue assim...</h3>
		</div>
	</ui:define>
</ui:composition>