<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" 
	template="/template.xhtml">
	
	<ui:define name="centro">
		<h:form id="form_dieta">
			<h:panelGrid columns="2" cellpadding="2" style="width: 100%">
				<p:panel header="Dados Gerais" style="margin-bottom:20px">
			        <h:panelGrid columns="2" cellpadding="3">
			            <p:outputLabel value="Data de Inicio:"/>
			            <p:outputLabel value="Data Final:" />
						<p:calendar navigator="true" pattern="dd/MM/yyyy" value="#{dietaBean.dataInicio}" required="true" requiredMessage="Informe a data de início da dieta!"/>
						<p:calendar navigator="true" pattern="dd/MM/yyyy" value="#{dietaBean.dataFinal}"  required="true" requiredMessage="Informe a data final da dieta!"/>
							
						<p:outputLabel value="Peso:"/>
			            <p:outputLabel value="Altura:" />
						<p:inputNumber minValue="-1000.999" maxValue="1000" value="#{dietaBean.peso}" required="true" requiredMessage="Informe o peso!"/>  
						<p:inputNumber minValue="-1000.999" maxValue="1000" value="#{dietaBean.usuarioDieta.usuario.altura}"/>  
						
						<p:outputLabel value="Peso Ideal:" />
						<p:outputLabel value=""/>
						<p:inputNumber minValue="-1000.999" maxValue="1000" value="#{dietaBean.usuarioDieta.usuario.pesoIdeal}"/>  
			        </h:panelGrid>
			    </p:panel>
			    
				<p:panel id="panel_dieta" header="Dieta" style="margin-bottom:20px">
					<h:form>
				        <h:panelGrid columns="2" cellpadding="2">
				            <p:outputLabel value="Refeição:" />
				            <p:outputLabel value="Horário:" />
							<p:selectOneMenu id="select_refeicao"
									value="#{dietaBean.refeicao.tipo}">
									<f:selectItem
										itemLabel="Selecione uma refeição"
										itemValue="" noSelectionOption="true" />
									<f:selectItems value="#{dietaBean.tiposRefeicao()}"
										var="refeicao" itemLabel="#{refeicao.nome}"
										itemValue="#{modalidade}"/>
								</p:selectOneMenu>
							<p:inputMask mask="99:99" style="width:100%" value="#{dietaBean.refeicao.horario}"/>
				        </h:panelGrid>
						<h:panelGrid columns="1" cellpadding="2" style="width: 100%; margin-top:0px">
				        	<p:outputLabel value="Descrição:"/>
				        	<p:inputTextarea style="width: 100%" autoResize="false" value="#{dietaBean.refeicao.descricao}"/>
		       			</h:panelGrid>
		       			<div align="right">
							<p:commandButton value="Adicionar" process="panel_dieta" ajax="false" update=":#{p:component('accod_refeicoes')}, :#{p:component('panel_dieta')}" actionListener="#{dietaBean.adicionarRefeicao()}"/>
						</div>
			  		</h:form>
			  	</p:panel>
		    </h:panelGrid>
		    <p:accordionPanel id="accod_refeicoes" activeIndex="null" value="#{dietaBean.dieta.refeicoes}" var="refeicao">
	    		<p:tab title=" #{refeicao.horario} - #{refeicao.tipo.nome}">
	    			<p:outputLabel value="Descrição:"/>
			        <p:inputTextarea style="width: 100%" autoResize="false" value="#{refeicao.descricao}"/>
	    		</p:tab>
		    </p:accordionPanel>
		    <div align="right" style="margin-top:10px">
				<p:commandButton value="Salvar" process="" ajax="false" actionListener="#{dietaBean.salvarDieta()}"/>
			</div>
		</h:form>
	</ui:define>
</ui:composition>