<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:adm="http://github.com/adminfaces"
	xmlns:p="http://primefaces.org/ui" 
	template="/template.xhtml">
	
	<ui:define name="centro">
		SISTEMA DE ACOMPANHAMENTO DE DIETA - SAD.
	</ui:define>
</ui:composition>