<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login</title>
</h:head>

<h:body style="background-image:none; background-color: #F0F8FF;">
	<p:growl id="msg-flash" life="3000" autoUpdate="true" showDetail="true" />
	<h:form id="panel_login" style="margin: 0 auto; width: 20%; margin-top: 15%">
		<div id="panel_login">
			<div>
				<div>
					<p:outputLabel for="login" value="Login" />
					<div>
						<p:inputText id="login" required="true" value="#{loginBean.login}"  />

						<i class="fa fa-user" />
					</div>
				</div>
				<div style="margin: 0 auto; margin-top: 5%">
					<p:outputLabel for="senha" value="Senha" />
					<div>
						<p:password id="senha" required="true" value="#{loginBean.senha}"/> 
						<i class="fa fa-lock" />
					</div>
				</div>
				<p:blockUI id="idBlockUI" block="panel_login" trigger="button">
					<h:outputLabel value="Processando..."
						style="font-weight: bold;" />
					<br/>
					<h:graphicImage url="resources/imagens/loading-blue-bak.gif" />
				</p:blockUI>
				  
    			<div style="margin: 0 auto; margin-top: 5%">
					<p:commandLink actionListener="#{loginBean.irParaCadastroDeUsuario()}" immediate="true">
        				<h:outputText value="Cadastre-se" />
    				</p:commandLink>
				</div>
				<div style="margin: 0 auto; margin-top: 5%" >
					<p:commandButton id="button" value="Entrar" style="margin-left: 70px"
						actionListener="#{loginBean.fazerLogin()}" update="@form">
					</p:commandButton>
				</div>
			</div>
		</div>
	</h:form>
</h:body>
</html>