<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>SAD - Sistema de acompanhamento de dieta</title>
	<style>
		* {
			font-size: 11pt;
		}
		
		.ui-layout-north {
			z-index: 20 !important;
			overflow: visible !important;
		}
		
		.ui-layout-north .ui-layout-unit-content {
			overflow: visible !important;
		}
		
		.ui-layout-unit {
			border: 0px !important;
		}
		
		.ui-layout-south .ui-layout-unit-content {
			overflow: hidden !important;
		}
	</style>
</h:head>
<h:body style="background-color: #F0F8FF;">
	<p:growl id="msg-flash" life="3000" autoUpdate="true" showDetail="true" />
	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="65" minSize="40" maxSize="200">
			<h:form id="formMenu">
				<p:menubar id="menubar">
					<p:menuitem value="Dashboard" url="dashboard.xhtml"/>
					<p:menuitem value="Dieta" url="dieta.xhtml"/>
					<p:submenu id="smlogout" label="#{loginBean.usuarioLogado.nome}" style="float: right; font-weight: bold" icon="ui-icon-person">
						<p:menuitem id="misair" value="Sair" actionListener="#{loginBean.fazerLogout()}" />
					</p:submenu>
				</p:menubar>
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<ui:insert name="centro"/>
		</p:layoutUnit>

		<p:layoutUnit position="south" size="35"
			style="text-align: right; padding-right: 40px; font-weight: bold">
			<h:outputText value="&#169; Copyright 2017 - SAD" />
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>